node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Ignore game files except for UI
/game/*/**
!/game/client/Content
!/game/client/Content/Product
!/game/client/Content/Product/UI
!/game/client/Content/Product/UI/**

# 4k images blocking pushing to github
/game/client/Content/Product/UI/Texture/Menu/archive/HistoryOfSAO/*
/game/client/Content/Product/UI/Texture/Menu/Title